.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin: 1% auto;
    width: 90%;
}

#container {
    border-radius: 25px;
    border: 2px solid #343a40;
    background: url(../img/paper.jpg);
    padding: 20px;
    width: 75%;
    height: 660px;
}

